@font-face {
  font-family: jost;
  src: url(./fonts/Jost-Regular.ttf);
}

@font-face {
  font-family: jost-bold;
  src: url(./fonts/Jost-Bold.ttf);
}

* {
  font-family: jost, sans-serif;
  padding: 0px;
  margin: 0px;
}
